---
import Layout from '../layouts/Layout.astro';

import Container from '../container/Container'
---

<Container />
<Layout title="Astroboy" />
<p>Guillaume is very tired today, he will work more on this next week. Oh well!</p>


